* {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  background-color: #f4f4f4;
  color: #121224;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.8px;
  position: relative;
}

::selection {
  background-color: #121224;
  color: #f4f4f4;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-wrap: balance;
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0 0 0.4rem;
}
p strong {
  color: #121224;
}
p:last-child {
  margin: 0;
}

small {
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #121224;
  text-decoration: none;
  transition: all 0.6s;
}
a:hover,
a:focus {
  color: #121244;
}